APP_NAME=TutoriaApp
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=tutoria_app
DB_USERNAME=postgres
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

SANCTUM_STATEFUL_DOMAINS=localhost:8000

# Pusher (para tiempo real - opcional)
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

# Jitsi Meet
JITSI_DOMAIN=meet.jit.si

# Admin Pago Movil (configurar con tus datos reales)
PAYMENT_BANK_NAME="Banco de Venezuela"
PAYMENT_PHONE="0414-123-4567"
PAYMENT_CI_RIF="V-12345678"
